body{
    background-image: url("./images/retro-living-room-interior-design.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: roboto;
  
}
/* ---navbar-------- */

.call-logo>img{
    height: 40px;
    width: 40px;
    filter: brightness(0) invert(1);
    
}
.navbar{
    margin:40px;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lists{
    display: flex;
    list-style-type: none;
    
}
.menu{
    display: none;
    filter: invert(1);
}
.list-item{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.navlast{
    display: flex;
    margin-right:20px;
}
.call-logo{
    margin-right: 20px;
}
.long-line{
    border-top: 5px solid white;
    border-radius: 10px;
    width: 1100px;
    height: 0px;
    position:relative;
    left: 400px;
    bottom:10px;

}
/* ----middle section */
.mid{
    display: flex;
    align-items: center;
    margin: 40px;
 
}
.left{
    font-size: 30px;
}
.learn{
    text-align: center;
    border: 4px solid white;
    width: 200px;
    padding: 20px;
    border-radius: 40px;
}
.pic-bulb,.pic-puzzle{
    background-color: white;
    height: 60px;
    width: 60px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 20px;
    margin:10px ;
}

.card-puzzle,.card-bulb{
    display: flex;
    flex-direction: column;
    
    background-color: rgba(173, 173, 196, 0.334);
    width: 250px;
    height: 150px;
    
  }
  
  .card-puzzle:before,.card-bulb::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  .card-puzzle{
    position: relative;
    left: 600px;
    top: 150px;
}
.card-bulb{
    position: relative;
    left: 200px;
    top: 200px;
}
.pic-puzzle>img{
    widht:40px;
    height: 40px;
    transform: rotate(270deg);
}
.pic-bulb>img{
    widht:50px;
    height: 50px;
}
.card-content{
    margin: 10px;
}
.line1{
    border-right: 3px solid white;
    border-radius: 10px;
    width: 0px;
    height: 80px;
    position: relative;
    left: 750px;
    bottom:30px;
}
.line2{
    border-top: 3px solid white;
    border-radius: 10px;
    width: 70px;
    height: 0px;
    position: relative;
    left: 250px;
    bottom: 60px;
}
.circle2{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 519px;
    top: 122px;
}
.circle1{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 738px;
    top: -30px;
}
@media only screen and (max-width:600px){
    body{
        background-size: auto;
        background-position:left center;
    }

    .right{
        position: relative;
        left: -100px;
    }
    .lists,.navlast,.long-line{
        display: none;
    }
    .menu{
        display: block;
    }
    .left>h1{
        font-size: 40px;
        width:90vw;
        position: relative;
        top: -150px;
    }
    .learn{
        font-size: 20px;
        width: 150px;
        padding: 5px 10px;
        position: absolute;
        top: 250px;
        left: 40px;
    }
    .card-puzzle{
        position:relative;
        left: -250px;
    }
    .card-bulb{
        position: relative;
        left: -250px;
        top: 160px;
    }
    .line2,.line1,.circle1,.circle2{
        display: none;
    }
}